body {
	padding-top: 70px
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

h2 {
	text-align: center;
	text-decoration-color: rgb(88,165,219);
}

p {
	text-align: center;
	text-decoration: color:#58A5DB;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 70px
}